<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Usuario</title>
</head>
<body>
    <h1>Agregar Usuario</h1>
    <form action="{{ url_for('agregar_usuario') }}" method="post">
        <label for="ID_cuentabanco">Cuenta Bancaria:</label>
        <select id="ID_cuentabanco" name="ID_cuentabanco">
            {% for cuenta in cuentas %}
                <option value="{{ cuenta['ID_cuentabanco'] }}">{{ cuenta['name'] }}</option>
            {% endfor %}
        </select>
        <label for="name">Nombre de Usuario:</label>
        <input type="text" id="name" name="name">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password">
        <label for="fecha_registro">Fecha de Registro:</label>
        <input type="date" id="fecha_registro" name="fecha_registro">
        <button type="submit">Agregar</button>
    </form>
    <a href="{{ url_for('index') }}">Volver a la lista</a>
</body>
</html>