<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Categoría</title>
</head>
<body>
    <h1>Agregar Categoría</h1>
    <form action="{{ url_for('agregar_categoria') }}" method="post">
        <label for="nombre">Nombre de la Categoría:</label>
        <input type="text" id="nombre" name="nombre">
        <label for="tipo">Tipo (Ingreso/Egreso):</label>
        <input type="text" id="tipo" name="tipo">
        <button type="submit">Agregar</button>
    </form>
    <a href="{{ url_for('index') }}">Volver a la lista</a>
</body>
</html>