<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gestor de Presupuestos</title>
</head>
<body>
    <header>
        <div class="perfil">
            <img src="\static/img/user.jpg" alt="Perfil">
            <p>Usuario: {{ session['user'] }}</p>
        </div>
        <h1>Categorias de {{ banco[2] }}</h1>
        <nav class="inicio">
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <ul>
            {% for categoria in categorias %}
                <li>{{ categoria[2] }} |
                    <a href="{{ url_for('crear_presupuesto', categoria_id=categoria[0]) }}">Asignar Presupuesto</a> |
                    <a href="{{ url_for('agregar_transaccion', categoria_id=categoria[0]) }}">Agregar Transacción</a> |
                    <a href="{{ url_for('ver_presupuesto', categoria_id=categoria[0]) }}">Ver Presupuesto</a> |
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('index') }}">Regresar</a>
    </main>
    <footer>
        <p>&copy; Gestor de Presupuestos 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>