<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Vincular Banco</title>
</head>
<body>
    <header>
        <div class="perfil">
            <img src="\static/img/user.jpg" alt="Perfil">
            <p>Usuario: {{ session['user'] }}</p>
        </div>
        <h1>Añadir nuevo banco</h1>
    </header>
    <main>
        <form action="{{ url_for('vincular_banco') }}" method="post">
            <label for="banco">Selecciona un nuevo banco:</label>
                <select id="banco" name="banco" onchange="escribirotrobanco()" required>
                    <option value="" disabled selected>Selecciona tu banco.</option>
                    <option value="Banco de Chile">Banco de Chile</option>
                    <option value="BCI">BCI</option>
                    <option value="Banco Estado">Banco Estado</option>
                    <option value="Santander">Santander</option>
                    <option value="Itau">Itaú</option>
                    <option value="Scotiabank">Scotiabank</option>
                    <option value="Falabella">Banco Falabella</option>
                    <option value="Ripley">Banco Ripley</option>
                    <option value="Security">Banco Security</option>
                    <option value="Otro">otro</option>
                </select>
            <button type="submit">Agregar nuevo banco</button>
        </form>
        <a href="{{ url_for('index') }}">Regresar</a>
    </main>
    <footer>
        <p>&copy; Gestor de Presupuestos 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>