table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

caption {
    font-size: 1.5em;
    margin: 10px;
}


/* Contenedor de los enlaces de navegación */
.nav-ingreso-gasto {
    display: flex;
    justify-content: center;  /* Centra los enlaces horizontalmente */
    gap: 20px;  /* Espaciado entre los enlaces */
    padding: 10px 0;
}

/* Estilo para los enlaces */
.nav-ingreso-gasto a {
    text-decoration: none;  /* Quitar subrayado */
    font-size: 14px;  /* Tamaño de letra pequeño */
    color: #333;  /* Color de texto */
    background-color: #cacaca;
    padding: 8px 16px;  /* Espaciado interno */
    border-radius: 4px;  /* Bordes redondeados */
    transition: all 0.3s ease;  /* Animación suave al pasar el mouse */
}

/* Estilo al pasar el mouse (hover) */
.nav-ingreso-gasto a:hover {
    background-color: #007BFF;  /* Color de fondo al hacer hover */
    color: white;  /* Color de texto al hacer hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);  /* Sombras al hacer hover */
}

/* Para enlaces activos */
.nav-ingreso-gasto a.active {
    background-color: #0056b3;  /* Color de fondo para el enlace activo */
    color: white;
}

.hidden{
    display: none;
}